<div class="container">

  <div class="nav-left">
    <div class="mobile">
      <i class="fa fa-bars"></i>
    </div>
    
  </div>

  <a href="/home">
    <img class="bayside-logo" src="assets\Baysports-logo.jpeg" />
  </a>

  <div class="nav-right">

    <div class="desktop">
      <div class="nav-item cart">CART</div>
      <i class="fa fa-search"></i>
    </div>

      <div class="mobile">
        <i class="fa fa-shopping-cart"></i>
      </div>

  </div>

  <div class="nav-items">
    <div class="nav-item">
      SHOP
    </div>
    <div class="nav-item">
      ABOUT
    </div>
    <div class="nav-item">
      CONTACT
    </div>
    <div class="nav-item">
      BLOG
    </div>
    <div class="nav-item">
      SALE
    </div>

  </div>

</div>
