i{
    font-size: 20px;
    padding: 10px;
}

.container{
    text-align: center;
}

.bayside-logo{
    height: 140px;
    width: 150px;
}

.nav-item{
    display: inline-block;
    padding: 10px;
}

.nav-right{
    position:absolute;
    top: 12px;
    right: 30px;
}

.mobile{
    display:none;
}

@media only screen and (max-width: 600px) {
  .bayside-logo{
      height: 45px;
      width: 45px;
  }

  .nav-items{
      display:none;
  }

  .nav-right {
    float: right;
    top:inherit;
    right:auto;
    position:relative;
  }

  .nav-left {
      display:block;
    float: left;
  }

  .desktop{
      display: none;
  }

  .mobile{
      display: block;
  }
}
